.garage-container {
  display: flex;
  margin-top: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-height: 50vh;
  max-height: 80vh;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0px;
  border: 1px solid #ddd;
  background-color: rgb(228, 228, 228);
  contain: content;
  overflow-x: scroll;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  margin: 8px 8px;
}

.card-product-car {
  overflow: hidden;
  height: 180px;
  background: white;
  display: flex;
  align-items: center;
  margin: 8px 8px;
}

.card-product-car img {
  height: 100%;
  width: 190px;
  object-fit: cover;
}

.card-product img {
  height: 100%;
  width: 140px;
  object-fit: cover;
}

.card-product-car h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-product h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-product-car p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-car .card-product-infos {
  padding: 16px;
}

.card-trip {
  overflow: hidden;
  background: white;
}

.card-trip > img {
  height: auto;
  width: -moz-available;
  object-fit: cover;
  opacity: 0.6;
}

.card-trip h3 {
  font-weight: 600;
  position: relative;
  top: 40px;
  margin-right: 5px;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos p {
  position: absolute;
  right: auto;
  top: 140px;
  width: -moz-available;
  margin-right: 16px;
}

.card-trip-infos .btn {
  position: absolute;
  right: auto;
  top: 230px;
  width: -moz-available;
  font-weight: bold;
  font-size: 16px;
  margin-right: 16px;
  padding: 15px 5px 10px 5px;
  border: 1px solid black;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: auto;
  top: -14px;
  width: 70px;
  border-radius: 50%;
  border: 3px solid white;
}

.card-product-car .num-plate {
  display: inline-block;
  border: 1px solid black;
  padding: 10px 37px;
  color: black;
  font-size: 18px;
}

.fa {
 padding: 2px 14px 2px 2px;
}

#delete {
  line-height: 12px;
  border-radius: 1px;
  width: 100px;
  font-weight: bold;
  font-size: 14px;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top: 155px;
  right: 7px;
 }

.avatar-bordered {
  position: absolute;
  top: 50%;
  left: 47%;
  margin-top: -5px;
  margin-left: -25px;
 }
