.root {
  margin-top: 20px;
  margin-bottom: 20px;
}
.row {
  display: flex;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0px;
  border: 1px solid #ddd;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 5px 5px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: auto;
  width: -moz-available;
  object-fit: cover;
}

.card-trip h3 {
  font-weight: 600;
  position: relative;
  top: 40px;
  margin-right: 16px;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos p {
  position: absolute;
  right: auto;
  top: 120px;
  width: -moz-available;
  margin-right: 16px;
}

.card-trip-infos .btn {
  position: absolute;
  right: auto;
  top: 220px;
  width: -moz-available;
  font-weight: bold;
  font-size: 16px;
  margin-right: 16px;
  padding: 15px 5px 10px 5px;
  border: 1px solid black;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: auto;
  top: -14px;
  width: 70px;
  border-radius: 50%;
  border: 3px solid white;
}
